<%- include('../../partials/header.ejs') %>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
<%- include('../../partials/navbar.ejs') %>
      <div class="main-sidebar sidebar-style-2">
      <%- include('../../partials/sidebar.ejs') %>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Item</h1>
          </div>
          <div class="container-fluid">
            <%- include('../../partials/message.ejs') %>
            <!-- Page Heading -->
        <% if(action == 'view') { %>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#show-item" role="tab" aria-controls="home" aria-selected="true">Show Item</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#add-item" role="tab" aria-controls="profile" aria-selected="false">Add Item</a>
              </li>
             
            </ul>
            <div class="tab-content" id="myTabContent">
            <%- include('show_table_item.ejs') %>
            <%- include('add_item.ejs') %>
              
            </div>
            <% } else if(action == 'show image') { %>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#show-image" role="tab" aria-controls="home" aria-selected="true">Show Image</a>
                </li>
                
               
              </ul>
              <div class="tab-content" id="myTabContent">
                <%- include('show_image_item.ejs') %>

                
              </div>
              <% } else { %>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#edit-item" role="tab" aria-controls="home" aria-selected="true">Edit Item</a>
                  </li>
                  
                 
                </ul>
                <div class="tab-content" id="myTabContent">
                  <%- include('edit_item.ejs') %>
  
                  
                </div>
                <% } %>
            <!-- DataTales Example -->
            
   
       
          <!-- /.container-fluid -->
  
          <div class="section-body">
          </div>
        </section>
      </div>
      <%- include('../../partials/footer.ejs') %>
    </div>
  </div>

 <%- include('../../partials/js.ejs') %>

 <script>
   CKEDITOR.replace('about');

 </script>