<%- include('../../partials/header.ejs') %>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
<%- include('../../partials/navbar.ejs') %>
      <div class="main-sidebar sidebar-style-2">
      <%- include('../../partials/sidebar.ejs') %>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Bank</h1>
          </div>
          <div class="container-fluid">
            <%- include('../../partials/message.ejs') %>
            <!-- Page Heading -->
        
  
            <!-- DataTales Example -->
            
          <%- include('table_bank.ejs') %>
       
          <!-- /.container-fluid -->
  
          <div class="section-body">
          </div>
        </section>
      </div>
      <%- include('../../partials/footer.ejs') %>
    </div>
  </div>
<%- include('add_modal.ejs') %>
<%- include('edit_modal.ejs') %>
 <%- include('../../partials/js.ejs') %>

 <script>
  $('#dataTable').on('click', '.button-update', function() {
    let id = $(this).data('id');
    let name = $(this).data('name');
    let nameBank = $(this).data('namebank');
    let nomorRekening = $(this).data('nomorrekening');

    console.log(id + name);
    $('#edit-modal').modal('show');
    $('.id').val(id);
    $('.name').val(name);
    $('.nameBank').val(nameBank);
    $('.nomorRekening').val(nomorRekening);
  })
</script>